#cardSize {
    width: 15rem;
    align-items: right;
    margin: 1em;
    justify-items: right;
}

#imageSize {
    width: fit-content;
    height: fit-content;
    padding: auto;
    margin: 1em;
    align-items: right;
    direction: flex;
    flex-wrap: wrap;
}
#imageNotAvail {
    height: 13rem
}